%h1 Listing propostas

%table
  %tr
    %th Nome
    %th Assunto
    %th
    %th

  - @propostas.each do |proposta|
    %tr
      %td= link_to proposta.nome, grupo_proposta_path(@grupo, proposta)
      %td= proposta.assunto
      %td= link_to_if (can? :update, proposta), t('Edit'), edit_grupo_proposta_path(@grupo, proposta), id: "editar-proposta-#{proposta.id.to_s}"
      %td= link_to_if (can? :destroy, proposta), t('Destroy'), grupo_proposta_path(@grupo, proposta), :confirm => 'Are you sure?', :method => :delete, :id => "excluir-proposta-#{proposta.id.to_s}"

%br

= link_to 'Nova proposta de Caso', new_grupo_proposta_path(@grupo)
\|
= link_to t('Back'), grupo_path(@grupo)
