%p#notice= notice

%p
  %b Nome:
  = @proposta.nome
%p
  %b Assunto:
  = @proposta.assunto
%p
  %b Descricao:
  = @proposta.descricao

%p#propositor
  %b Propositor:
  = image_tag lavatar_url(@proposta.propositor), :alt =>@proposta.propositor.email 
  = @proposta.propositor.email

%p
  %b Anexo:
  = link_to image_tag('baixar-documento.png'), @proposta.anexo.url, :id=>'anexo'


= link_to t('Edit'), edit_grupo_proposta_path(@grupo, @proposta)
\|
= link_to t('Back'), grupo_propostas_path(@grupo)
