%p#notice= notice

%p
  %b Nome:
  = @proposta.nome
%p
  %b Assunto:
  = @proposta.assunto
%p
  %b Descricao:
  = @proposta.descricao

= link_to t('Edit'), edit_grupo_proposta_path(@grupo, @proposta)
\|
= link_to t('Back'), grupo_propostas_path(@grupo)
